<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uju.coursetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.CurrentCGPAResultsActivity" />
        <activity android:name=".presentation.MyCompletedCoursesActivity" />
        <activity android:name=".presentation.MyCurrentCoursesActivity" />
        <activity android:name=".presentation.PredictNextCGPAResultsActivity" />
        <activity android:name=".presentation.MyAllCoursesActivity" />
        <activity android:name=".presentation.DueDatesActivity" />
        <activity android:name=".presentation.PickMapActivity" />
        <activity android:name=".presentation.CreateNewReminderActivity" />
        <activity android:name=".presentation.E1Activity"></activity>
    </application>

</manifest>